<Configuration>
    <Properties>
        <Property name="log.level">${env:MTOGO_LOG_LEVEL:-info}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level]: %c: %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Silence Jetty debug -->
        <Logger name="org.eclipse.jetty" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Silence Javalin debug -->
        <Logger name="io.javalin" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="${log.level}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>